/**
 * Copyright 2022-2024 Open Text.
 *
 * The only warranties for products and services of Open Text and its
 * affiliates and licensors ("Open Text") are as may be set forth in the
 * express warranty statements accompanying such products and services.
 * Nothing herein should be construed as constituting an additional
 * warranty. Open Text shall not be liable for technical or editorial
 * errors or omissions contained herein. The information contained herein
 * is subject to change without notice.
 *
 * Except as specifically indicated otherwise, this document contains
 * confidential information and a valid license is required for possession,
 * use or copying. If this work is provided to the U.S. Government,
 * consistent with FAR 12.211 and 12.212, Commercial Computer Software,
 * Computer Software Documentation, and Technical Data for Commercial Items
 * are licensed to the U.S. Government under vendor's standard commercial
 * license.
 */
#autocollapse .navbar-header {
    margin-right: 20px;
}

svg:hover path {
    fill: #101c2f;
}

header .navbar {
    border-width: 0 0 0 0;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-default {
    background-color: #0066ff;
    border-color: #0066ff;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
    color: #101c2f;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #101c2f;
}

.navbar-inverse .navbar-nav > li > a:hover::after,
.navbar-inverse .navbar-nav > .active > a::after {
    background-color: #06f;
    border-radius: .5rem .5rem 0 0;
    bottom: 0;
    height: .5rem;
    left: 0;
    opacity: 1;
    width: 100%;
    border: 0;
    margin-left: 0;
    position: absolute;
    top: auto;
    transform: none;
    transition: opacity .2s linear;
    padding: .25em;
    display: inline-block;
    content: "";
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #fff;
    color: #101c2f;
}

.breadcrumb a {
    color: #fff;
}
